*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.gemini/
/.idea
/.nova
/.phpunit.cache
/.vscode
/auth.json
/composer.lock
/node_modules
/package-lock.json
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
Thumbs.db
/backend-template-limitless/
